body {
    background-color: lightblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.card-layout {
    display: grid;
    grid-template-rows: 40% 10% 35% 5% 10%;
    gap: 1px;
    height: 450px;
    width: 300px;
    margin: 10px;
    padding: 15px;
    justify-items: center;
    box-shadow: 8px 10px 10px gray;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
}

.card-img-container>img {
    object-fit: none;
    width: 100%;
    max-height: 100%;
}

.title {
    width: 100%;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
}

.description {
    width: 100%;
    margin: 0;
}

.published-date-container {
    width: 100%;
    display: flex;
    justify-content: end;
    margin: auto;
    gap: 3px;
}

.published{
    text-align: end;
    font-weight: bold;
}
.date-info {
    text-align: end;
}
.more-info-btn {
    background-color: #2b752e;
    border: none;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    margin: auto;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    &:hover{
        background-color: #529e56;
    }
}